@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Inconsolata:wght@700&display=swap');

/* Temp Styles Used During Development - Can Be Deleted At Launch */
hr {
    border-top: 100px solid orange;
    width: 100%;
}

.temp_head {
	background-color:#FFFFCC;
}

.temp_foot {
	background-color: #FFCCFF;
}

/* End Temp Styles */


/* General Site Styling */
* {
    margin: 0;
    padding: 0;
    border: none;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Inconsolata', monospace;
    color: #000;
}

h1 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 20px;
}

h2 {
    font-family: Inconsolata, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

/* End General Styling */

/* Header, Logo and Menu Styling */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
/*	box-shadow: 0 0 30px rgb(7 51 84 / 17%) !important; */
	box-shadow: 0 0 30px rgb(0 0 0 / 25% ) !important;
    z-index: 97;
    height: 140px;
}

#header-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
	background-color:#3399FF;
	color:#fff;
    z-index: 99;
}

.fa-envelope {
	padding-left: 30px;
}

#nav-bar {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
	height: 90px;
	background-color: #fff;
    z-index: 99;
}

#site-logo {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    float: left;
    margin: 5px 0 5px 30px;
    z-index: 99;
}

/* End Header, Logo and Menu Styling */

/* Navigation Styling */

#site-menu {
    letter-spacing: 4px;
    line-height: 75px;
    color: #000;
}

#site-menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#site-menu a {
    text-decoration: none;
    color: inherit;
}

#site-menu a:hover {
    border-bottom: 5px solid #3a3a3a;
}

/* Home Page Image */

#banner-outer {
	margin-top: 140px;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#banner-image {
    height: 600px;
	width: 100%;
    background: url('../images/AlanORaffertyHelp.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: photo-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#banner-image > img {
		opacity: 0.5;
}


/* creates the level of zoom for hero image */
@keyframes photo-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.slide-title {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 1000; 	
}

.slide-title h1 {
  color: #fff;
  font-size: 60px;
  font-weight:700!important;
  text-transform: uppercase!important;
}

.slide-title h2 {
  color: #fff;
  font-size: 26px;
  font-weight:700!important;
  text-transform: capitalize!important;

}

#intro {
	margin: auto;
	width: 45%;
	text-align: center;
	padding-bottom: 50px;
}

#intro h1 {
	margin-bottom: 10px;
}

#intro h3 {
	margin-bottom: 10px;
}

#about-us {
    height: 600px;
    background-image:url('../images/AlanORaffertyHelp-Original.jpg'); 
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

#about-us hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0 20px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}



/* Return to Page Top */
.scroll-up {
  position: fixed;
/* display: none; */
  bottom: 7px;
  right: 7px;
  z-index: 999;
}

.scroll-up a {
  background: #fff;
  display: block;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  color: #000;
  opacity: 0.6;
  border-radius: 2px;
}

.scroll-up a:hover,
.scroll-up a:active {
  opacity: 1;
  color: #000;
}

#footer-bar {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000;
   color: white;
   text-align: center;
   font-size: 14px;
   padding: 10px 0 10px 0;
   
}


/* Media queries */

/* For superwide screens sizes: 3000px wide and smaller */
@media screen and (max-width: 3000px) {
	#header-bar {
		width: 100%;
    	max-width: 100%;
		padding: 20px 30px 20px 30px;
	}
}

/* For larger screens sizes: 1200px wide and smaller */
@media screen and (max-width: 1200px) {
	#header-bar {
		width: 100%;
    	max-width: 100%;
		padding: 20px 30px 20px 30px;
	}
}

/* For medium sized screen sizes: 950px wide or smaller */
@media screen and (max-width: 950px) {

	#header-bar {
		width: 100%;
    	max-width: 100%;
		padding: 20px 30px 20px 30px;
	}
}

/* For small sized screen sizes: 800px wide or smaller */
@media screen and (max-width: 800px) {
    #header-bar {
		width: 100%;
    	max-width: 100%;
		padding: 20px 30px 20px 30px;
    }

	img.site-logo {
		height: 40%;
		width: 40%;
		padding: 5px 5px 5px 5px;
	}	
}

/* For really small sized screen sizes: 300px wide or smaller */
@media screen and (max-width: 350px) {
    #header-bar {
		display: none;
    }
	
	img.site-logo {
		height: 25%;
		width: 25%;
		padding: 5px 5px 5px 5px;
	}	
	
}

